<!-- <!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Field Service from tasks Portal</title>
</head>
<body>
    <h1>Welcome to Field Service Portal</h1>
    <p>Please select an option:</p>
    <ul>
        <li><a href="{% url 'admin:index' %}">Admin Login</a></li>  <!-- Link to admin login -->
        <li><a href="{% url 'lodge_complaint' %}">Submit a Complaint</a></li>  <!-- Link to submit a complaint -->
    </ul>
</body>
</html>
 -->